.DS_Store
node_modules
/dist

# eliminar archivo con el SDK hardcodeado(comprobarlo al hacer el push)
uploadImage.spec.js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
